<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.annevonwolffen.authorization_impl"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".AuthorizationActivity"
            android:exported="false" />
    </application>

</manifest>